body {
    background-color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    color: dimgrey;
    text-align: center;
    padding: 50px 0;
}

.box {
    display: flex;
    color: black;
    background-color: red;
    text-align: center;
    padding: 30px;
}