.table-title {
  margin-bottom: 30px;;
  text-align: center;
  color: aliceblue;
}

th, td {
  text-align: center;
  max-width: 10%;
}

table {
  text-align: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-image: url("../../images/nba.jpg");
}